@media screen and (max-width: 560px) {
    html {
        font-size: 7px !important;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 6px !important;
    }

    .slider .indicators {  
        &__item {
            width: 5rem;
            height: 1rem;
        }
    }
}